

.title {
    text-align: center;;
}
#list:hover {
    background-color: red;
}
#list:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul, ol {
    list-style: none;
}