.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  display: block;
  margin-left: 50px;
}

.baloon {
  display: inline-block;
  margin-left:px;
  position: absolute;
}

.speach {
  font-size: 25px;
  display: inline-block;
  position: absolute;
}

.bowser {
  width: 200px;
  display: inline-block;
  margin-left:px;
  position: absolute;
}